include LICENSE
include README.md
include requirements.txt
include config/config.yaml
include data/data.yaml

recursive-include src *.py
recursive-include tests *.py

# Exclude binary and cache files
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude __pycache__
global-exclude *.so
global-exclude *.egg
global-exclude *.egg-info
global-exclude .git*
global-exclude .pytest_cache
global-exclude .coverage
global-exclude htmlcov
